<!--BOOK_INFORMATION-->
<img align="left" style="padding-right:10px;" src="figures/PDSH-cover-small.png">

*This notebook contains an excerpt from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/PythonDataScienceHandbook).*

*The text is released under the [CC-BY-NC-ND license](https://creativecommons.org/licenses/by-nc-nd/3.0/us/legalcode), and code is released under the [MIT license](https://opensource.org/licenses/MIT). If you find this content useful, please consider supporting the work by [buying the book](http://shop.oreilly.com/product/0636920034919.do)!*

<!--NAVIGATION-->
< [Operating on Data in Pandas](03.03-Operations-in-Pandas.ipynb) | [Contents](Index.ipynb) | [Hierarchical Indexing](03.05-Hierarchical-Indexing.ipynb) >

<a href="https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.04-Missing-Values.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

# Handling Missing Data

The difference between data found in many tutorials and data in the real world is that real-world data is rarely clean and homogeneous.
In particular, many interesting datasets will have some amount of data missing.
To make matters even more complicated, different data sources may indicate missing data in different ways.

In this section, we will discuss some general considerations for missing data, discuss how Pandas chooses to represent it, and demonstrate some built-in Pandas tools for handling missing data in Python.
Here and throughout the book, we'll refer to missing data in general as *null*, *NaN*, or *NA* values.

## Trade-Offs in Missing Data Conventions

There are a number of schemes that have been developed to indicate the presence of missing data in a table or DataFrame.
Generally, they revolve around one of two strategies: using a *mask* that globally indicates missing values, or choosing a *sentinel value* that indicates a missing entry.

In the masking approach, the mask might be an entirely separate Boolean array, or it may involve appropriation of one bit in the data representation to locally indicate the null status of a value.

In the sentinel approach, the sentinel value could be some data-specific convention, such as indicating a missing integer value with -9999 or some rare bit pattern, or it could be a more global convention, such as indicating a missing floating-point value with NaN (Not a Number), a special value which is part of the IEEE floating-point specification.

None of these approaches is without trade-offs: use of a separate mask array requires allocation of an additional Boolean array, which adds overhead in both storage and computation. A sentinel value reduces the range of valid values that can be represented, and may require extra (often non-optimized) logic in CPU and GPU arithmetic. Common special values like NaN are not available for all data types.

As in most cases where no universally optimal choice exists, different languages and systems use different conventions.
For example, the R language uses reserved bit patterns within each data type as sentinel values indicating missing data, while the SciDB system uses an extra byte attached to every cell which indicates a NA state.

In [7]:
import numpy as np
import pandas as pd

In [4]:
pd.Series([1, 2, 3, None])

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [5]:
pd.Series([1, 2, np.nan], dtype=pd.Int64Dtype())

0      1
1      2
2    NaN
dtype: Int64

In [6]:
pd.Series([1, 2, np.nan], dtype="Int64")

0      1
1      2
2    NaN
dtype: Int64

## Missing Data in Pandas

The way in which Pandas handles missing values is constrained by its reliance on the NumPy package, which does not have a built-in notion of NA values for non-floating-point data types.

Pandas could have followed R's lead in specifying bit patterns for each individual data type to indicate nullness, but this approach turns out to be rather unwieldy.
While R contains four basic data types, NumPy supports *far* more than this: for example, while R has a single integer type, NumPy supports *fourteen* basic integer types once you account for available precisions, signedness, and endianness of the encoding.
Reserving a specific bit pattern in all available NumPy types would lead to an unwieldy amount of overhead in special-casing various operations for various types, likely even requiring a new fork of the NumPy package. Further, for the smaller data types (such as 8-bit integers), sacrificing a bit to use as a mask will significantly reduce the range of values it can represent.

NumPy does have support for masked arrays â€“ that is, arrays that have a separate Boolean mask array attached for marking data as "good" or "bad."
Pandas could have derived from this, but the overhead in both storage, computation, and code maintenance makes that an unattractive choice.

With these constraints in mind, Pandas chose to use sentinels for missing data, and further chose to use two already-existing Python null values: the special floating-point ``NaN`` value, and the Python ``None`` object.
This choice has some side effects, as we will see, but in practice ends up being a good compromise in most cases of interest.

### ``None``: Pythonic missing data

The first sentinel value used by Pandas is ``None``, a Python singleton object that is often used for missing data in Python code.
Because it is a Python object, ``None`` cannot be used in any arbitrary NumPy/Pandas array, but only in arrays with data type ``'object'`` (i.e., arrays of Python objects):

In [46]:
cal_cities = pd.read_csv(
    "data/california_cities.csv",
    index_col="city",
).iloc[:, 1:]
cal_cities.head()

,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
city,,,,,,,,,,,,
Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01

In [33]:
cal_cities.info()

<class 'pandas.core.frame.DataFrame'>
Index: 482 entries, Adelanto to YuccaValley
Data columns (total 12 columns):
latd                  482 non-null float64
longd                 482 non-null float64
elevation_m           434 non-null float64
elevation_ft          470 non-null float64
population_total      482 non-null int64
area_total_sq_mi      480 non-null float64
area_land_sq_mi       482 non-null float64
area_water_sq_mi      481 non-null float64
area_total_km2        477 non-null float64
area_land_km2         478 non-null float64
area_water_km2        478 non-null float64
area_water_percent    477 non-null float64
dtypes: float64(11), int64(1)
memory usage: 69.0+ KB

In [30]:
cal_cities.isna().sum()

latd                   0
longd                  0
elevation_m           48
elevation_ft          12
population_total       0
area_total_sq_mi       2
area_land_sq_mi        0
area_water_sq_mi       1
area_total_km2         5
area_land_km2          4
area_water_km2         4
area_water_percent     5
dtype: int64

In [31]:
cal_cities.isna().sum(axis="columns")

city
Adelanto           0
AgouraHills        0
Alameda            1
Albany             1
Alhambra           0
AlisoViejo         0
Alturas            0
AmadorCity         0
AmericanCanyon     0
Anaheim            0
Anderson           0
AngelsCamp         0
Antioch            0
AppleValley        0
Arcadia            0
Arcata             1
ArroyoGrande       0
Artesia            0
Arvin              0
Atascadero         0
Atherton           0
Atwater            0
Auburn             0
Avalon             0
Avenal             0
Azusa              0
Bakersfield        1
BaldwinPark        0
Banning            0
Barstow            0
                  ..
Vista              0
Walnut             0
WalnutCreek        1
Wasco              0
Waterford          0
Watsonville        0
Weed               0
WestCovina         0
WestHollywood      0
WestlakeVillage    0
Westminster        0
Westmorland        1
WestSacramento     0
Wheatland          0
Whittier           0
Wildomar           0
Williams           0
Willits            0
Willows            0
Windsor            0
Winters            0
Woodlake           0
Woodland           0
Woodside           0
YorbaLinda         0
Yountville         0
Yreka              0
YubaCity           0
Yucaipa            0
YuccaValley        0
Length: 482, dtype: int64

In [27]:
cal_cities.dropna(subset=["elevation_m"])

,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
city,,,,,,,,,,,,
Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.0460,0.03
AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.0760,0.37
Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.0030,0.01
AlisoViejo,33.575000,-117.725556,127.0,417.0,47823,7.472,7.472,0.000,19.352,19.352,0.0000,0.00
Alturas,41.487222,-120.542500,1332.0,4370.0,2827,2.449,2.435,0.014,6.342,6.306,0.0360,0.57
AmadorCity,38.419444,-120.824167,280.0,919.0,185,0.314,0.314,0.000,0.813,0.813,0.0000,0.00
AmericanCanyon,38.168056,-122.252500,14.0,46.0,19454,4.845,4.837,0.008,12.548,12.527,0.0210,0.17
Anaheim,33.836111,-117.889722,48.0,157.0,336000,50.811,49.835,0.976,131.600,129.073,2.5270,1.92
Anderson,40.452222,-122.296667,132.0,430.0,9932,6.620,6.372,0.248,17.145,16.504,0.6420,3.74
AngelsCamp,38.068333,-120.539722,420.0,1378.0,3836,3.637,3.628,0.009,9.421,9.397,0.0240,0.25
Antioch,38.005000,-121.805833,13.0,43.0,107100,29.083,28.349,0.734,75.324,73.422,1.9020,2.52
AppleValley,34.516667,-117.216667,898.0,2946.0,69135,73.523,73.193,0.330,190.426,189.570,0.8560,0.45
Arcadia,34.132778,-118.036389,147.0,482.0,56364,11.133,10.925,0.208,28.836,28.296,0.5400,1.87
ArroyoGrande,35.120833,-120.586667,36.0,118.0,17716,5.835,5.835,0.000,15.113,15.113,0.0000,0.00
Artesia,33.867222,-118.080556,16.0,52.0,16522,1.621,1.621,0.000,4.197,4.197,0.0000,0.00
Arvin,35.209167,-118.828333,137.0,449.0,19304,4.819,4.819,0.000,12.482,12.482,0.0000,0.00
Atascadero,35.484167,-120.672500,268.0,879.0,28310,26.130,25.641,0.489,67.675,66.409,1.2650,1.87
Atherton,37.458611,-122.200000,18.0,59.0,6914,5.049,5.017,0.032,13.076,12.993,0.0820,0.63
Atwater,37.347778,-120.609167,46.0,151.0,28168,6.096,6.087,0.009,15.788,15.766,0.0220,0.14
Auburn,38.898611,-121.074444,374.0,1227.0,13330,7.166,7.138,0.028,18.560,18.488,0.0710,0.38
Avalon,33.340833,-118.327778,9.0,30.0,3728,2.937,2.935,0.002,7.607,7.602,0.0050,0.07
Avenal,36.004167,-120.128889,246.0,807.0,13239,19.422,19.422,0.000,50.302,50.302,0.0000,0.00
Azusa,34.130556,-117.906944,186.0,610.0,46361,9.669,9.656,0.013,25.042,25.010,0.0320,0.13
BaldwinPark,34.082778,-117.971667,114.0,374.0,75390,6.786,6.631,0.155,17.575,17.174,0.4000,2.28
Banning,33.931667,-116.897500,716.0,2349.0,29603,23.099,23.099,0.000,59.826,59.826,0.0000,0.00
Barstow,34.900000,-117.016667,664.0,2178.0,22639,41.394,41.385,0.009,107.209,107.186,0.0230,0.02
Beaumont,33.924167,-116.973611,796.0,2612.0,36877,30.926,30.912,0.014,80.098,80.062,0.0360,0.04
Bell,33.983333,-118.183333,43.0,141.0,35477,2.620,2.501,0.119,6.783,6.476,0.3070,4.53
Bellflower,33.888056,-118.127500,22.0,71.0,76616,6.170,6.117,0.053,15.981,15.843,0.1380,0.86
BellGardens,33.968056,-118.156111,37.0,121.0,42072,2.463,2.459,0.004,6.379,6.368,0.0120,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...
VillaPark,33.816111,-117.811111,104.0,341.0,5812,2.078,2.078,0.000,5.383,5.383,0.0000,0.00
Visalia,36.316667,-119.300000,101.0,331.0,124442,36.266,36.246,0.020,93.928,93.876,0.0512,0.05
Vista,33.193611,-117.241111,99.0,325.0,93834,18.678,18.678,0.000,48.377,48.377,0.0000,0.00
Walnut,34.033333,-117.866667,171.0,561.0,29172,8.996,8.992,0.004,23.300,23.290,0.0100,0.04
Wasco,35.594167,-119.340833,100.0,328.0,25545,9.426,9.426,0.000,24.413,24.413,0.0000,0.00
Waterford,37.645000,-120.767500,52.0,171.0,8456,2.369,2.328,0.041,6.135,6.030,0.1050,1.72
Watsonville,36.920000,-121.763611,9.0,29.0,51199,6.783,6.687,0.096,17.569,17.319,0.2500,1.42
Weed,41.424167,-122.384444,1044.0,3425.0,2967,4.795,4.790,0.005,12.417,12.405,0.0120,0.10
WestCovina,34.056667,-117.918611,110.0,362.0,106098,16.090,16.041,0.049,41.671,41.545,0.1260,0.30
WestHollywood,34.087778,-118.372222,86.0,282.0,34650,1.887,1.887,0.000,4.888,4.888,0.0000,0.00
WestlakeVillage,34.141944,-118.819444,268.0,880.0,8270,5.509,5.185,0.320,14.257,13.430,0.8280,5.80
Westminster,33.751389,-117.993889,12.0,39.0,89701,10.049,10.049,0.000,26.027,26.027,0.0000,0.00
WestSacramento,38.580556,-121.530278,6.0,20.0,48744,22.846,21.425,1.421,59.172,55.491,3.6810,6.22
Wheatland,39.010000,-121.423056,28.0,92.0,3456,1.486,1.479,0.007,3.848,3.831,0.0170,0.45
Whittier,33.965556,-118.024444,112.0,367.0,85331,14.700,14.700,0.016,37.000,37.000,0.0410,0.11
Wildomar,33.603611,-117.272778,387.0,1270.0,32176,23.688,23.688,0.000,61.351,61.351,0.0000,0.00
Williams,39.154722,-122.149444,25.0,82.0,5123,5.444,5.444,0.000,14.101,14.101,0.0000,0.00
Willits,39.409722,-123.355556,424.0,1391.0,4888,2.803,2.798,0.005,7.260,7.248,0.0130,0.17
Willows,39.524444,-122.193611,42.0,138.0,6166,2.873,2.847,0.026,7.441,7.373,0.0680,0.92
Windsor,38.546111,-122.805278,36.0,118.0,26801,7.293,7.268,0.025,18.888,18.824,0.0640,0.34
Winters,38.525000,-121.970833,40.0,131.0,6624,2.937,2.912,0.025,7.607,7.543,0.0650,0.85
Woodlake,36.416389,-119.099444,134.0,440.0,7279,2.765,2.248,0.517,7.159,5.821,1.3380,18.69
Woodland,38.678611,-121.773333,21.0,69.0,55468,15.303,15.303,0.000,39.634,39.634,0.0000,0.00
Woodside,37.420833,-122.259722,117.0,384.0,5287,11.732,11.732,0.000,30.386,30.386,0.0000,0.00
YorbaLinda,33.888551,-117.813231,82.3,270.0,65237,20.018,19.483,0.535,51.847,50.460,1.3870,2.67
Yountville,38.403056,-122.362222,30.0,98.0,2933,1.531,1.531,0.000,3.966,3.966,0.0000,0.00
Yreka,41.726667,-122.637500,787.0,2582.0,7765,10.053,9.980,0.073,26.036,25.847,0.1880,0.72
YubaCity,39.134722,-121.626111,18.0,59.0,64925,14.656,14.578,0.078,37.959,37.758,0.2010,0.53
Yucaipa,34.030278,-117.048611,798.0,2618.0,51367,27.893,27.888,0.005,72.244,72.231,0.0130,0.02
YuccaValley,34.133333,-116.416667,1027.0,3369.0,20700,40.015,40.015,0.000,103.639,103.639,0.0000,0.00

In [28]:
len(cal_cities) - len(cal_cities.dropna(subset=["elevation_m"]))

48

This ``dtype=object`` means that the best common type representation NumPy could infer for the contents of the array is that they are Python objects.
While this kind of object array is useful for some purposes, any operations on the data will be done at the Python level, with much more overhead than the typically fast operations seen for arrays with native types:

The use of Python objects in an array also means that if you perform aggregations like ``sum()`` or ``min()`` across an array with a ``None`` value, you will generally get an error:

This reflects the fact that addition between an integer and ``None`` is undefined.

### ``NaN``: Missing numerical data

The other missing data representation, ``NaN`` (acronym for *Not a Number*), is different; it is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation:

Notice that NumPy chose a native floating-point type for this array: this means that unlike the object array from before, this array supports fast operations pushed into compiled code.
You should be aware that ``NaN`` is a bit like a data virusâ€“it infects any other object it touches.
Regardless of the operation, the result of arithmetic with ``NaN`` will be another ``NaN``:

Note that this means that aggregates over the values are well defined (i.e., they don't result in an error) but not always useful:

NumPy does provide some special aggregations that will ignore these missing values:

Keep in mind that ``NaN`` is specifically a floating-point value; there is no equivalent NaN value for integers, strings, or other types.

### NaN and None in Pandas

``NaN`` and ``None`` both have their place, and Pandas is built to handle the two of them nearly interchangeably, converting between them where appropriate:

For types that don't have an available sentinel value, Pandas automatically type-casts when NA values are present.
For example, if we set a value in an integer array to ``np.nan``, it will automatically be upcast to a floating-point type to accommodate the NA:

Notice that in addition to casting the integer array to floating point, Pandas automatically converts the ``None`` to a ``NaN`` value.
(Be aware that there is a proposal to add a native integer NA to Pandas in the future; as of this writing, it has not been included).

While this type of magic may feel a bit hackish compared to the more unified approach to NA values in domain-specific languages like R, the Pandas sentinel/casting approach works quite well in practice and in my experience only rarely causes issues.

The following table lists the upcasting conventions in Pandas when NA values are introduced:

|Typeclass     | Conversion When Storing NAs | NA Sentinel Value      |
|--------------|-----------------------------|------------------------|
| ``floating`` | No change                   | ``np.nan``             |
| ``object``   | No change                   | ``None`` or ``np.nan`` |
| ``integer``  | Cast to ``float64``         | ``np.nan``             |
| ``boolean``  | Cast to ``object``          | ``None`` or ``np.nan`` |

Keep in mind that in Pandas, string data is always stored with an ``object`` dtype.

## Operating on Null Values

As we have seen, Pandas treats ``None`` and ``NaN`` as essentially interchangeable for indicating missing or null values.
To facilitate this convention, there are several useful methods for detecting, removing, and replacing null values in Pandas data structures.
They are:

- ``isnull()``: Generate a boolean mask indicating missing values
- ``notnull()``: Opposite of ``isnull()``
- ``dropna()``: Return a filtered version of the data
- ``fillna()``: Return a copy of the data with missing values filled or imputed

We will conclude this section with a brief exploration and demonstration of these routines.

### Detecting null values
Pandas data structures have two useful methods for detecting null data: ``isnull()`` and ``notnull()``.
Either one will return a Boolean mask over the data. For example:

In [41]:
cal_cities.head()

,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
city,,,,,,,,,,,,
Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01

In [44]:
cal_cities["elevation_m"] = cal_cities["elevation_m"].fillna(method="bfill")

In [45]:
cal_cities.head()

,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
city,,,,,,,,,,,,
Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
Alameda,37.756111,-122.274444,150.0,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
Albany,37.886944,-122.297778,150.0,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01

In [42]:
cal_cities.fillna(method="bfill").head()

,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
city,,,,,,,,,,,,
Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
Alameda,37.756111,-122.274444,150.0,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
Albany,37.886944,-122.297778,150.0,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01

As mentioned in [Data Indexing and Selection](03.02-Data-Indexing-and-Selection.ipynb), Boolean masks can be used directly as a ``Series`` or ``DataFrame`` index:

The ``isnull()`` and ``notnull()`` methods produce similar Boolean results for ``DataFrame``s.

### Dropping null values

In addition to the masking used before, there are the convenience methods, ``dropna()``
(which removes NA values) and ``fillna()`` (which fills in NA values). For a ``Series``,
the result is straightforward:

For a ``DataFrame``, there are more options.
Consider the following ``DataFrame``:

We cannot drop single values from a ``DataFrame``; we can only drop full rows or full columns.
Depending on the application, you might want one or the other, so ``dropna()`` gives a number of options for a ``DataFrame``.

By default, ``dropna()`` will drop all rows in which *any* null value is present:

Alternatively, you can drop NA values along a different axis; ``axis=1`` drops all columns containing a null value:

But this drops some good data as well; you might rather be interested in dropping rows or columns with *all* NA values, or a majority of NA values.
This can be specified through the ``how`` or ``thresh`` parameters, which allow fine control of the number of nulls to allow through.

The default is ``how='any'``, such that any row or column (depending on the ``axis`` keyword) containing a null value will be dropped.
You can also specify ``how='all'``, which will only drop rows/columns that are *all* null values:

For finer-grained control, the ``thresh`` parameter lets you specify a minimum number of non-null values for the row/column to be kept:

Here the first and last row have been dropped, because they contain only two non-null values.

### Filling null values

Sometimes rather than dropping NA values, you'd rather replace them with a valid value.
This value might be a single number like zero, or it might be some sort of imputation or interpolation from the good values.
You could do this in-place using the ``isnull()`` method as a mask, but because it is such a common operation Pandas provides the ``fillna()`` method, which returns a copy of the array with the null values replaced.

Consider the following ``Series``:

We can fill NA entries with a single value, such as zero:

We can specify a forward-fill to propagate the previous value forward:

In [ ]:
# forward-fill

Or we can specify a back-fill to propagate the next values backward:

In [ ]:
# back-fill

For ``DataFrame``s, the options are similar, but we can also specify an ``axis`` along which the fills take place:

Notice that if a previous value is not available during a forward fill, the NA value remains.

<!--NAVIGATION-->
< [Operating on Data in Pandas](03.03-Operations-in-Pandas.ipynb) | [Contents](Index.ipynb) | [Hierarchical Indexing](03.05-Hierarchical-Indexing.ipynb) >

<a href="https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.04-Missing-Values.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>