<!--BOOK_INFORMATION-->
<img align="left" style="padding-right:10px;" src="figures/PDSH-cover-small.png">

*This notebook contains an excerpt from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/PythonDataScienceHandbook).*

*The text is released under the [CC-BY-NC-ND license](https://creativecommons.org/licenses/by-nc-nd/3.0/us/legalcode), and code is released under the [MIT license](https://opensource.org/licenses/MIT). If you find this content useful, please consider supporting the work by [buying the book](http://shop.oreilly.com/product/0636920034919.do)!*

<!--NAVIGATION-->
< [Combining Datasets: Concat and Append](03.06-Concat-And-Append.ipynb) | [Contents](Index.ipynb) | [Aggregation and Grouping](03.08-Aggregation-and-Grouping.ipynb) >

<a href="https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.07-Merge-and-Join.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

# Combining Datasets: Merge and Join

One essential feature offered by Pandas is its high-performance, in-memory join and merge operations.
If you have ever worked with databases, you should be familiar with this type of data interaction.
The main interface for this is the ``pd.merge`` function, and we'll see few examples of how this can work in practice.

For convenience, we will start by redefining the ``display()`` functionality from the previous section:

In [1]:
import pandas as pd

In [7]:
import glob

In [15]:
glob.glob("data/state-*.csv")

['data/state-abbrevs.csv', 'data/state-areas.csv', 'data/state-population.csv']

In [11]:
datasets = []
for csv in glob.glob("data/state-*.csv"):
    datasets.append(pd.read_csv(csv))

In [104]:
abbrevs = pd.read_csv("data/state-abbrevs.csv")
areas = pd.read_csv("data/state-areas.csv")
population = pd.read_csv("data/state-population.csv")

In [66]:
import numpy as np

In [84]:
population.head()

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

In [86]:
population.groupby("year")[["population"]].transform(np.mean).head()

     population
0  7.355255e+06
1  7.355255e+06
2  7.278395e+06
3  7.278395e+06
4  7.316278e+06

In [75]:
population["mean_population"] = population.groupby("year")["population"].transform(np.mean)

In [87]:
population.head()

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

In [69]:
population.groupby("year")["population"].mean().head()

year
1990    6.035410e+06
1991    6.121038e+06
1992    6.211989e+06
1993    6.298337e+06
1994    6.380130e+06
Name: population, dtype: float64

In [62]:
population.loc[population["state/region"].str.startswith("A")].groupby([
    "year", "state/region", "ages"
]).mean().unstack().unstack()#[("population", "total")]

             population                                                        \
ages              total                                    under18
state/region         AK         AL         AR         AZ        AK         AL
year
1990           553290.0  4050055.0  2356586.0  3684097.0  177502.0  1050041.0
1991           570193.0  4099156.0  2383144.0  3788576.0  182180.0  1060794.0
1992           588736.0  4154014.0  2415984.0  3915740.0  184878.0  1072873.0
1993           599434.0  4214202.0  2456303.0  4065440.0  187190.0  1085606.0
1994           603308.0  4260229.0  2494019.0  4245089.0  187439.0  1097180.0
1995           604412.0  4296800.0  2535399.0  4432499.0  184990.0  1110553.0
1996           608569.0  4331103.0  2572109.0  4586940.0  185360.0  1112092.0
1997           612968.0  4367935.0  2601091.0  4736990.0  188280.0  1122893.0
1998           619933.0  4404701.0  2626289.0  4883342.0  192636.0  1118252.0
1999           624779.0  4430141.0  2651860.0  5023823.0  191422.0  1121287.0
2000           627963.0  4452173.0  2678588.0  5160586.0  190615.0  1122273.0
2001           633714.0  4467634.0  2691571.0  5273477.0  188771.0  1120409.0
2002           642337.0  4480089.0  2705927.0  5396255.0  188482.0  1116590.0
2003           648414.0  4503491.0  2724816.0  5510364.0  186843.0  1113083.0
2004           659286.0  4530729.0  2749686.0  5652404.0  186335.0  1113662.0
2005           666946.0  4569805.0  2781097.0  5839077.0  185304.0  1117229.0
2006           675302.0  4628981.0  2821761.0  6029141.0  185580.0  1126798.0
2007           680300.0  4672840.0  2848650.0  6167681.0  184344.0  1132296.0
2008           687455.0  4718206.0  2874554.0  6280362.0  183124.0  1134927.0
2009           698895.0  4757938.0  2896843.0  6343154.0  186351.0  1134192.0
2010           713868.0  4785570.0  2922280.0  6408790.0  187902.0  1130966.0
2011           723375.0  4801627.0  2938506.0  6468796.0  188329.0  1125763.0
2012           730307.0  4817528.0  2949828.0  6551149.0  188162.0  1117489.0
2013           735132.0  4833722.0  2959373.0  6626624.0  188132.0  1111481.0


ages
state/region        AR         AZ
year
1990          620933.0  1006040.0
1991          626212.0  1028285.0
1992          638269.0  1055572.0
1993          643474.0  1094233.0
1994          653842.0  1119857.0
1995          667671.0  1173391.0
1996          677912.0  1215285.0
1997          680203.0  1237159.0
1998          683637.0  1285794.0
1999          681940.0  1332396.0
2000          680378.0  1373414.0
2001          679606.0  1399015.0
2002          678798.0  1427938.0
2003          679579.0  1453671.0
2004          683166.0  1484454.0
2005          689787.0  1529168.0
2006          697842.0  1574867.0
2007          702737.0  1607895.0
2008          705725.0  1628651.0
2009          707886.0  1627343.0
2010          711947.0  1628563.0
2011          710576.0  1616353.0
2012          710471.0  1617149.0
2013          709866.0  1616814.0

In [32]:
population.groupby([
    "year", "state/region"
]).mean().unstack()

             population                                               \
state/region         AK         AL         AR         AZ          CA
year
1990           365396.0  2550048.0  1488759.5  2345068.5  18970008.0
1991           376186.5  2579975.0  1504678.0  2408430.5  19358170.5
1992           386807.0  2613443.5  1527126.5  2485656.0  19707153.0
1993           393312.0  2649904.0  1549888.5  2579836.5  19949869.0
1994           395373.5  2678704.5  1573930.5  2682473.0  20137246.5
1995           394701.0  2703676.5  1601535.0  2802945.0  20308580.0
1996           396964.5  2721597.5  1625010.5  2901112.5  20549176.5
1997           400624.0  2745414.0  1640647.0  2987074.5  20810684.5
1998           406284.5  2761476.5  1654963.0  3084568.0  21075456.5
1999           408100.5  2775714.0  1666900.0  3178109.5  21353541.0
2000           409289.0  2787223.0  1679483.0  3267000.0  21627533.0
2001           411242.5  2794021.5  1685588.5  3336246.0  21902462.0
2002           415409.5  2798339.5  1692362.5  3412096.5  22118492.5
2003           417628.5  2808287.0  1702197.5  3482017.5  22328876.5
2004           422810.5  2822195.5  1716426.0  3568429.0  22496536.5
2005           426125.0  2843517.0  1735442.0  3684122.5  22616754.0
2006           430441.0  2877889.5  1759801.5  3802004.0  22696043.0
2007           432322.0  2902568.0  1775693.5  3887788.0  22792965.5
2008           435289.5  2926566.5  1790139.5  3954506.5  22962979.0
2009           442623.0  2946065.0  1802364.5  3985248.5  23127865.0
2010           450885.0  2958268.0  1817113.5  4018676.5  23308847.5
2011           455852.0  2963695.0  1824541.0  4042574.5  23460508.5
2012           459234.5  2967508.5  1830149.5  4084149.0  23604442.5
2013           461632.0  2972601.5  1834619.5  4121719.0  23753699.0

                                                                    ...  \
state/region         CO         CT        DC        DE          FL  ...
year                                                                ...
1990          2094629.0  2022316.5  358976.5  417597.5   8011057.0  ...
1991          2141828.0  2034599.5  358847.5  426495.0   8207718.0  ...
1992          2210758.0  2038988.0  358101.5  434546.5   8385496.0  ...
1993          2280770.0  2049962.0  357886.5  441647.0   8570625.5  ...
1994          2345290.0  2058676.0  355705.0  449189.0   8769665.5  ...
1995          2405481.5  2066383.5  352069.5  455735.5   8952171.5  ...
1996          2461959.0  2074270.0  346794.5  462499.5   9142527.5  ...
1997          2524425.0  2081860.5  343635.0  469047.0   9344286.5  ...
1998          2588352.5  2094976.0  339535.5  476318.5   9522060.0  ...
1999          2654978.0  2110527.5  342611.5  483750.0   9685566.0  ...
2000          2716798.5  2127009.5  343274.5  490643.5   9851197.5  ...
2001          2776167.0  2139342.5  344564.5  495868.5  10035702.5  ...
2002          2814339.5  2153813.0  343490.0  501557.5  10231997.0  ...
2003          2836664.5  2167725.5  339952.5  508024.0  10412480.5  ...
2004          2860691.0  2172536.5  338755.0  515217.0  10653026.0  ...
2005          2894143.5  2175495.0  337161.5  523569.0  10905108.0  ...
2006          2946127.5  2178416.0  338166.0  531498.5  11094951.0  ...
2007          2996651.0  2180377.0  339265.0  538452.0  11199470.0  ...
2008          3046509.5  2186102.5  341246.5  544995.0  11272838.5  ...
2009          3094704.0  2191323.0  347163.0  548971.5  11324963.5  ...
2010          3137407.5  2196698.5  353217.0  552594.5  11422793.0  ...
2011          3174289.0  2197028.5  361765.0  556393.0  11543016.0  ...
2012          3211161.0  2193362.0  370534.5  560819.5  11666585.0  ...
2013          3253149.5  2190823.0  378961.5  564653.5  11789767.0  ...

                                                                        \
state/region         TN          TX          USA         UT         VA
year
1990          3057346.0  10981487.5  156920663.0  1179172.5  3868777.0
1991          3099923.5  11199399.0  159146980.0  1208498.0  3924737.5
1992          3154600.0  11434771.5  161511704.0  1242762.0  3997925.5
1993          3211314.0  11689755.5  163756766.5  1280686.0  4057194.0
1994          3271213.0  11947793.0  165883381.0  1317190.5  4110925.0
1995          3329276.0  12190267.5  167875771.5  1346907.5  4159849.0
1996          3381183.0  12445894.5  169813901.5  1377527.0  4207515.5
1997          3429131.5  12697899.5  171783835.0  1409656.0  4256474.5
1998          3470016.0  12958292.5  173642761.0  1437673.5  4303589.5
1999          3512351.5  13199215.5  175493116.0  1459440.0  4361649.5
2000          3551702.0  13425400.0  177269300.0  1483094.0  4423618.5
2001          3579183.5  13649904.5  178820065.0  1505267.0  4476455.5
2002          3605387.5  13875348.5  180280825.0  1529166.0  4529060.0
2003          3636336.5  14081955.5  181604345.5  1550310.0  4574615.5
2004          3672076.0  14301141.0  183051516.5  1576675.5  4638766.5
2005          3720191.5  14534546.5  184520134.0  1612803.5  4696687.5
2006          3779466.0  14903189.0  186068813.0  1657732.0  4750046.5
2007          3829237.0  15198927.5  187625306.0  1706621.0  4792693.0
2008          3870882.5  15492478.0  189099284.0  1750143.5  4835928.5
2009          3900353.0  15797334.0  190452848.0  1790637.0  4885534.5
2010          3925886.5  16062096.0  191722925.5  1823721.5  4939721.0
2011          3945099.0  16286333.5  192742393.0  1848067.0  4981717.5
2012          3973801.5  16523301.5  193790932.0  1871724.5  5023975.5
2013          3993777.5  16745089.5  194857355.5  1898730.5  5062470.0


state/region        VT         WA         WI         WV        WY
year
1990          354047.0  3102294.0  3103715.5  1114672.5  294884.0
1991          356912.5  3176075.5  3139599.0  1116326.5  297990.0
1992          359867.0  3263118.5  3177976.5  1119783.5  301779.5
1993          363226.5  3333279.0  3211111.5  1124951.5  305269.5
1994          367315.0  3392541.5  3240894.0  1124774.5  309008.0
1995          370221.0  3455212.0  3268089.5  1126245.0  310972.5
1996          372595.5  3509683.0  3291431.5  1122819.5  311932.5
1997          373639.5  3574196.5  3312962.5  1118575.0  311890.0
1998          374441.5  3632173.0  3330290.0  1114201.0  311694.5
1999          376271.0  3675194.0  3349842.5  1109291.5  311286.5
2000          378583.5  3713436.5  3372219.5  1104041.5  311537.0
2001          379131.5  3751624.5  3387214.0  1098394.0  310434.5
2002          379941.5  3785002.0  3405238.5  1099491.5  312756.0
2003          380288.0  3809496.0  3418854.0  1102377.5  313817.5
2004          380494.0  3849698.0  3434334.5  1104147.0  316540.0
2005          380074.0  3890597.5  3448016.0  1105461.5  319089.5
2006          379811.5  3953839.5  3463220.0  1109274.5  324096.0
2007          379088.0  4005584.5  3479838.0  1112356.5  331818.0
2008          378375.5  4061266.5  3493284.5  1115260.0  338777.0
2009          377633.5  4120914.5  3505837.5  1118405.5  347405.5
2010          377197.0  4161846.0  3512577.0  1120685.0  349786.5
2011          376410.0  4203095.0  3517327.5  1120233.5  351368.0
2012          375254.0  4241884.5  3520333.5  1120355.0  356576.0
2013          374665.5  4283600.5  3525244.5  1117991.0  360168.5

[24 rows x 53 columns]

In [17]:
population.head()

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

In [89]:
len(population)

2544

In [105]:
df = population.merge(
    abbrevs,
    left_on="state/region",
    right_on="abbreviation",
    how="left",  # equivalent to "outer" in this case
)
len(df)

2544

In [106]:
df.head()

  state/region     ages  year  population    state abbreviation
0           AL  under18  2012   1117489.0  Alabama           AL
1           AL    total  2012   4817528.0  Alabama           AL
2           AL  under18  2010   1130966.0  Alabama           AL
3           AL    total  2010   4785570.0  Alabama           AL
4           AL  under18  2011   1125763.0  Alabama           AL

In [107]:
df.loc[df["state"].isnull(), "state/region"].unique()

array(['PR', 'USA'], dtype=object)

In [108]:
df.loc[df["state/region"] == "PR", "state"] = "Puerto Rico"
df.loc[df["state/region"] == "USA", "state"] = "United States of America"

In [111]:
df = df.drop(columns="abbreviation")
df.head()

  state/region     ages  year  population    state
0           AL  under18  2012   1117489.0  Alabama
1           AL    total  2012   4817528.0  Alabama
2           AL  under18  2010   1130966.0  Alabama
3           AL    total  2010   4785570.0  Alabama
4           AL  under18  2011   1125763.0  Alabama

In [114]:
df.isnull().any()

state/region    False
ages            False
year            False
population       True
state           False
dtype: bool

In [116]:
df = df.merge(areas)
df.head()

  state/region     ages  year  population    state  area (sq. mi)
0           AL  under18  2012   1117489.0  Alabama          52423
1           AL    total  2012   4817528.0  Alabama          52423
2           AL  under18  2010   1130966.0  Alabama          52423
3           AL    total  2010   4785570.0  Alabama          52423
4           AL  under18  2011   1125763.0  Alabama          52423

## Relational Algebra

The behavior implemented in ``pd.merge()`` is a subset of what is known as *relational algebra*, which is a formal set of rules for manipulating relational data, and forms the conceptual foundation of operations available in most databases.
The strength of the relational algebra approach is that it proposes several primitive operations, which become the building blocks of more complicated operations on any dataset.
With this lexicon of fundamental operations implemented efficiently in a database or other program, a wide range of fairly complicated composite operations can be performed.

Pandas implements several of these fundamental building-blocks in the ``pd.merge()`` function and the related ``join()`` method of ``Series`` and ``Dataframe``s.
As we will see, these let you efficiently link data from different sources.

## Categories of Joins

The ``pd.merge()`` function implements a number of types of joins: the *one-to-one*, *many-to-one*, and *many-to-many* joins.
All three types of joins are accessed via an identical call to the ``pd.merge()`` interface; the type of join performed depends on the form of the input data.
Here we will show simple examples of the three types of merges, and discuss detailed options further below.

### One-to-one joins

Perhaps the simplest type of merge expresion is the one-to-one join, which is in many ways very similar to the column-wise concatenation seen in [Combining Datasets: Concat & Append](03.06-Concat-And-Append.ipynb).
As a concrete example, consider the following two ``DataFrames`` which contain information on several employees in a company:

To combine this information into a single ``DataFrame``, we can use the ``pd.merge()`` function:

The ``pd.merge()`` function recognizes that each ``DataFrame`` has an "employee" column, and automatically joins using this column as a key.
The result of the merge is a new ``DataFrame`` that combines the information from the two inputs.
Notice that the order of entries in each column is not necessarily maintained: in this case, the order of the "employee" column differs between ``df1`` and ``df2``, and the ``pd.merge()`` function correctly accounts for this.
Additionally, keep in mind that the merge in general discards the index, except in the special case of merges by index (see the ``left_index`` and ``right_index`` keywords, discussed momentarily).

### Many-to-one joins

Many-to-one joins are joins in which one of the two key columns contains duplicate entries.
For the many-to-one case, the resulting ``DataFrame`` will preserve those duplicate entries as appropriate.
Consider the following example of a many-to-one join:

The resulting ``DataFrame`` has an aditional column with the "supervisor" information, where the information is repeated in one or more locations as required by the inputs.

### Many-to-many joins

Many-to-many joins are a bit confusing conceptually, but are nevertheless well defined.
If the key column in both the left and right array contains duplicates, then the result is a many-to-many merge.
This will be perhaps most clear with a concrete example.
Consider the following, where we have a ``DataFrame`` showing one or more skills associated with a particular group.
By performing a many-to-many join, we can recover the skills associated with any individual person:

These three types of joins can be used with other Pandas tools to implement a wide array of functionality.
But in practice, datasets are rarely as clean as the one we're working with here.
In the following section we'll consider some of the options provided by ``pd.merge()`` that enable you to tune how the join operations work.

## Specification of the Merge Key

We've already seen the default behavior of ``pd.merge()``: it looks for one or more matching column names between the two inputs, and uses this as the key.
However, often the column names will not match so nicely, and ``pd.merge()`` provides a variety of options for handling this.

### The ``on`` keyword

Most simply, you can explicitly specify the name of the key column using the ``on`` keyword, which takes a column name or a list of column names:

This option works only if both the left and right ``DataFrame``s have the specified column name.

### The ``left_on`` and ``right_on`` keywords

At times you may wish to merge two datasets with different column names; for example, we may have a dataset in which the employee name is labeled as "name" rather than "employee".
In this case, we can use the ``left_on`` and ``right_on`` keywords to specify the two column names:

The result has a redundant column that we can drop if desired–for example, by using the ``drop()`` method of ``DataFrame``s:

### The ``left_index`` and ``right_index`` keywords

Sometimes, rather than merging on a column, you would instead like to merge on an index.
For example, your data might look like this:

You can use the index as the key for merging by specifying the ``left_index`` and/or ``right_index`` flags in ``pd.merge()``:

For convenience, ``DataFrame``s implement the ``join()`` method, which performs a merge that defaults to joining on indices:

If you'd like to mix indices and columns, you can combine ``left_index`` with ``right_on`` or ``left_on`` with ``right_index`` to get the desired behavior:

All of these options also work with multiple indices and/or multiple columns; the interface for this behavior is very intuitive.
For more information on this, see the ["Merge, Join, and Concatenate" section](http://pandas.pydata.org/pandas-docs/stable/merging.html) of the Pandas documentation.

## Specifying Set Arithmetic for Joins

In all the preceding examples we have glossed over one important consideration in performing a join: the type of set arithmetic used in the join.
This comes up when a value appears in one key column but not the other. Consider this example:

Here we have merged two datasets that have only a single "name" entry in common: Mary.
By default, the result contains the *intersection* of the two sets of inputs; this is what is known as an *inner join*.
We can specify this explicitly using the ``how`` keyword, which defaults to ``"inner"``:

Other options for the ``how`` keyword are ``'outer'``, ``'left'``, and ``'right'``.
An *outer join* returns a join over the union of the input columns, and fills in all missing values with NAs:

The *left join* and *right join* return joins over the left entries and right entries, respectively.
For example:

The output rows now correspond to the entries in the left input. Using
``how='right'`` works in a similar manner.

All of these options can be applied straightforwardly to any of the preceding join types.

## Overlapping Column Names: The ``suffixes`` Keyword

Finally, you may end up in a case where your two input ``DataFrame``s have conflicting column names.
Consider this example:

Because the output would have two conflicting column names, the merge function automatically appends a suffix ``_x`` or ``_y`` to make the output columns unique.
If these defaults are inappropriate, it is possible to specify a custom suffix using the ``suffixes`` keyword:

These suffixes work in any of the possible join patterns, and work also if there are multiple overlapping columns.

For more information on these patterns, see [Aggregation and Grouping](03.08-Aggregation-and-Grouping.ipynb) where we dive a bit deeper into relational algebra.
Also see the [Pandas "Merge, Join and Concatenate" documentation](http://pandas.pydata.org/pandas-docs/stable/merging.html) for further discussion of these topics.

## Example: US States Data

Merge and join operations come up most often when combining data from different sources.
Here we will consider an example of some data about US states and their populations.
The data files can be found at http://github.com/jakevdp/data-USstates/:

In [ ]:
# Following are shell commands to download the data
# !curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv
# !curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv
# !curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv

Let's take a look at the three datasets, using the Pandas ``read_csv()`` function:

Given this information, say we want to compute a relatively straightforward result: rank US states and territories by their 2010 population density.
We clearly have the data here to find this result, but we'll have to combine the datasets to find the result.

We'll start with a many-to-one merge that will give us the full state name within the population ``DataFrame``.
We want to merge based on the ``state/region``  column of ``pop``, and the ``abbreviation`` column of ``abbrevs``.
We'll use ``how='outer'`` to make sure no data is thrown away due to mismatched labels.

Let's double-check whether there were any mismatches here, which we can do by looking for rows with nulls:

Some of the ``population`` info is null; let's figure out which these are!

It appears that all the null population values are from Puerto Rico prior to the year 2000; this is likely due to this data not being available from the original source.

More importantly, we see also that some of the new ``state`` entries are also null, which means that there was no corresponding entry in the ``abbrevs`` key!
Let's figure out which regions lack this match:

We can quickly infer the issue: our population data includes entries for Puerto Rico (PR) and the United States as a whole (USA), while these entries do not appear in the state abbreviation key.
We can fix these quickly by filling in appropriate entries:

No more nulls in the ``state`` column: we're all set!

Now we can merge the result with the area data using a similar procedure.
Examining our results, we will want to join on the ``state`` column in both:

Again, let's check for nulls to see if there were any mismatches:

There are nulls in the ``area`` column; we can take a look to see which regions were ignored here:

We see that our ``areas`` ``DataFrame`` does not contain the area of the United States as a whole.
We could insert the appropriate value (using the sum of all state areas, for instance), but in this case we'll just drop the null values because the population density of the entire United States is not relevant to our current discussion:

Now we have all the data we need. To answer the question of interest, let's first select the portion of the data corresponding with the year 2000, and the total population.
We'll use the ``query()`` function to do this quickly (this requires the ``numexpr`` package to be installed; see [High-Performance Pandas: ``eval()`` and ``query()``](03.12-Performance-Eval-and-Query.ipynb)):

Now let's compute the population density and display it in order.
We'll start by re-indexing our data on the state, and then compute the result:

The result is a ranking of US states plus Washington, DC, and Puerto Rico in order of their 2010 population density, in residents per square mile.
We can see that by far the densest region in this dataset is Washington, DC (i.e., the District of Columbia); among states, the densest is New Jersey.

We can also check the end of the list:

We see that the least dense state, by far, is Alaska, averaging slightly over one resident per square mile.

This type of messy data merging is a common task when trying to answer questions using real-world data sources.
I hope that this example has given you an idea of the ways you can combine tools we've covered in order to gain insight from your data!

<!--NAVIGATION-->
< [Combining Datasets: Concat and Append](03.06-Concat-And-Append.ipynb) | [Contents](Index.ipynb) | [Aggregation and Grouping](03.08-Aggregation-and-Grouping.ipynb) >

<a href="https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.07-Merge-and-Join.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>